name : my first github project
on: push
jobs:
  my_first_job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      
      - name: install cowsay program
        run: sudo apt-get install cowsay -y


      - name: execute cowsay
        run: cowsay -f cat " run this" >> dragon.txt

      - name: read file
        run: cat dragon.txt

    
   